.supEventContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    row-gap: 3.75rem;
    column-gap: 2.5rem;
}

@media (max-width: 1450px) { 
    .supEventContainer {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 1050px) { 
    .supEventContainer {
      grid-template-columns: auto auto;
    }
}
    
@media (max-width: 768px) { 
    .supEventContainer {
       display: block;
       max-width: 95%;
       margin: auto;
    }
}